<div id="equations_container" class="col m5">
  <div class="row">
    <div class="col s12">
      <ul class="tabs">
        <li class="tab col s4"><a href="#my_variables">My Variables</a></li>
        <li class="tab col s4">
          <span id="relevant-physics-equations-total-count"><span>4</span></span>
          <a id="physics-equation-a-tag" class="active" href="#physics_equations">Physics Equations</a>
        </li>
        <li class="tab col s4"><a href="#physics_constants">Physics Constants</a></li>
      </ul>
    </div>
    <%- include('../partials/tab-my-variables.ejs');%>
    <%- include('../partials/tab-physics-equations.ejs',{loe: loe});%>
    <%- include('../partials/tab-physics-constants.ejs',{lopc: lopc});%>
  </div>
</div>
