<div id="line-message-box">
  <div id="line-message-box-question">
    <div class="row">
      <div class="col m12">
        <span id="question-box-static-mathfield"></span>
        Is this variable the
        <span id="question-box-quantity">speed of light</span>
        ?
      </div>
    </div>
    <div class="row">
      <div class="col m12">
        <a id="question-box-yes">Yes</a>
        <a id="question-box-no">No</a>
      </div>
    </div>
  </div>
  <div id="line-message-box-warning">
    <span>Undefined Variables:</span>
    <span id="warning-box-undefined-vars"></span>
  </div>
  <div id="line-message-box-error">
    <span>'d' is a differential and can't be used as a variable</span>
  </div>
</div>
