<div id="math_field_editor_container" class="col m7">
  <div class="editor_line row">
    <div class="line_label col m1">
      <span class="active line-number">1</span>
      <span class="line-warning" mf="first_math_field"><i class="fas fa-exclamation-triangle"></i></span>
      <span class="line-error" mf="first_math_field"><i class="fas fa-exclamation-circle "></i></span>
      <span class="line-question" mf="first_math_field"><i class="fas fa-question-circle"></i></span>
    </div>
    <div class="col m11 my_math_field_col">
      <div id="first_math_field" class="my_math_field"></div>
    </div>
  </div>
</div>
