<div id="modal-physics-equation-more-information" class="modal">
  <div class="modal-content">
    <h4>Information & Resources</h4>
    <p>Coming soon! Get supplemental information on all the different equations and areas of physics covered in the list of physics equations. This will not only help you use these equations properly, but understand the underlying concepts behind the equations you use.</p>
    <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/tJLBkhytjR8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Exit</a>
  </div>
</div>
