<div id="modal_import_variable_definition" class="modal modal-fixed-footer" type="new">
  <div id="import-variable-definition-modal-content" class="modal-content">
  </div>
  <div class="modal-footer">
    <a id="btn-update-imported-variables" href="#!" class="waves-effect waves-green btn disabled" onclick="UpdateImportedVariables()">Update</a>
    <a id="btn-cancel-imported-variables" href="#!" class="modal-close waves-effect waves-green btn">Cancel</a>
  </div>
</div>
