<div id="my_variables" class="col s12">
  <div class="row my-row">
    <div id="my_variables-collection-container" class="col my-col s12">
      <ul class="collection no-variables-defined">
        <div id="no-variables-defined" class="center">The physics constants you import and variables you use in the editor will appear in this tab</div>
      </ul>
    </div>
  </div>
</div>
