<div id="units-dropdown-menu">
  <div class="menu-container">
    <div class="row my-row">
      <div class="col m12">
        <input placeholder="Search units list" id="input-user-units-search" type="text">
      </div>
    </div>
    <div id="units-search-results"></div>
  </div>
</div>
