<div id="variable_description_menu">

  <table class="centered">
    <span id="edit_variable_description"><i class="material-icons tiny">edit</i><span>
    <thead>
      <tr>
          <th class="variable_state">Value</th>
          <th class="variable_type">Type</th>
          <th class="variable_units">Units</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td class="variable_state">Unknown</td>
        <td class="variable_type">undefined</td>
        <td class="variable_units">undefined</td>
      </tr>
    </tbody>
  </table>
</div>
